body {
FONT: small/1.5 verdana, arial,helvetica,clean,sans-serif;
	  FONT-FAMILY: verdana, sans-serif;
	  PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px;
	  TEXT-ALIGN: center;
}
a {
COLOR: #0066ff; TEXT-DECORATION: none
}
a:hover {
	  TEXT-DECORATION: underline
  }
html {
	BACKGROUND-COLOR: #ffffff
}

#ft {
CLEAR: both
}
#doc {
	MIN-WIDTH: 750px; TEXT-ALIGN: left; MARGIN: auto; WIDTH: 56.25em;
	BACKGROUND-COLOR: #ffffff; MARGIN-TOP: 0px; WIDTH: 1000px; MARGIN-BOTTOM: 0px; 
}
#header {
	BACKGROUND-COLOR: #444444; COLOR: #ffffff
}
#pimg {
MARGIN: 20px 10px 30px; DISPLAY: block
}
#right-column {
	PADDING-RIGHT: 50px; MARGIN-LEFT: 50px; PADDING-TOP: 15px; PADDING-BOTTOM: 15px; 
}
#left-column {
WIDTH: 250px; FLOAT: left
}

h1 {
	LINE-HEIGHT: 1.5em; TEXT-INDENT: 0px; MARGIN: 18px 0px 14px; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #CC0000; FONT-SIZE: 20px; font-weight: normal
}
h2 {
	LINE-HEIGHT: 1.4em; TEXT-INDENT: 33px; MARGIN: 17px 0px 13px; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #6eaf2f; FONT-SIZE: 20px
}
h3 {
	LINE-HEIGHT: 1.2em; TEXT-INDENT: 26px; MARGIN: 16px 0px 12px; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #ff8b00; FONT-SIZE: 17px; FONT-WEIGHT: bold
}
p {
	LINE-HEIGHT: 1.5em; MARGIN: 10px 0px; TEXT-INDENT: 0px;
}
td {
	PADDING-BOTTOM: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; PADDING-TOP: 3px
}
.fixed-width {
	FONT-FAMILY: "Courier New", Courier, monospace; WHITE-SPACE: pre
}
b {
	FONT-WEIGHT: bold
}
.bspecial{
	FONT-WEIGHT: bold;
color: #FF0000;
}
strong {
	FONT-WEIGHT: bold
}
i {
	FONT-STYLE: italic
}
em {
	FONT-STYLE: italic
}

ul {
	MARGIN-TOP: 10px; MARGIN-BOTTOM: 10px; MARGIN-LEFT: 25px;
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
ol {
	MARGIN-TOP: 10px; MARGIN-BOTTOM: 10px; MARGIN-LEFT: 25px;
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
ul li {
	LIST-STYLE-TYPE: disc; MARGIN: 5px;
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
ol li {
	LIST-STYLE-TYPE: decimal; MARGIN: 5px;
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.call-out-green {
	PADDING-BOTTOM: 13px; LINE-HEIGHT: 1.0em; MARGIN: 20px 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 20px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #555555; FONT-SIZE: 16px; PADDING-TOP: 13px;
	/*BACKGROUND: #74a743;*/
	FONT-WEIGHT: bold
}

.ref{
	LINE-HEIGHT: 1.5em; MARGIN: 5px 0px; TEXT-INDENT: 0px;
}

.pic{
	PADDING-BOTTOM: 13px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 36px; FONT-WEIGHT: bold; PADDING-TOP: 13px; line-height: 48px;
}

.subpic{
	PADDING-BOTTOM: 13px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 28px; FONT-WEIGHT: bold; PADDING-TOP: 13px
}

#navigation {
	border-top: #FF9900 solid thin;
	border-bottom: #FF9900 solid thin;
}

#navigation ul {
	padding-right: 40px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	list-style: none
		/*float: left; */
}

#navigation ul li {
display: inline;
color: #FFFFFF;
	   PADDING-LEFT: 6px; PADDING-RIGHT: 6px;
	   /*float: left; */
}

#navigation a {
color: #CC0000;
	   font-weight: bold;
}
